<!-- This is a HTML document -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Albums</title>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        font-family:Arial, Helvetica, sans-serif;
        background-color: whitesmoke;
        color: #2c2c2c;
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Albums</h1>
    <a href="/artists">Artists</a>
    <a href="/albums/new">Create album</a>
    <ol>
    {% for album in albums %}
        <li>
            <a href=/albums/{{album.id}}>{{album.title}}</a>
            <p>Released: {{album.release_year}}</p>
        </li>
    {% endfor %}
    </ol>
  </body>
</html>
